@media (360px <= width <= 720px) {
	.about-section {
		display: flex;
		flex-direction: column;
		padding: 50px 0;
	}

	.about-title {
		display: flex;
		justify-content: center;
		margin: 10px 0;
	}

	.about-description {
		text-align: center;
		margin: 8vw;
	}

	.about-imgs-container {
		display: flex;
		justify-content: space-evenly;
	}

	.about-img-box {
		display: block;
	}

	.about-img-box img {
		width: 28vw;
		display: flex;
		border-radius: 5%;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.537);
	}
}

@media (hover: hover) {
	.about-img-box img:hover {
		transform: scale(1.2);
		z-index: 3;
		transition: 0.2s ease-in-out;
	}
}
