section.contact{
    margin-top: 20px;
}

h1.contact-title{
    font-size: 2.5em;
    color: var(--titles-color);
    background-color: var(--primary-color);
    margin: 0;
}

ul.contact-list-icons {
    justify-content: space-evenly;
    display: flex;
    padding: 1rem;
    list-style: none;
}

ul.contact-list-icons li{
    font-size: 3.5rem;
    cursor: pointer;
    
}

li.linkedin{
    color: #0f56c8;
}

li.github{
    color: rgb(115, 61, 167);
}

li.mail{
    color: rgb(104, 102, 102);
}