/* .presentation {
	text-align: center;
}


.presentation-img-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.presentation-profile-img {
	width: 80%;
	max-width: 500px;
	cursor: pointer;
} */

/* .presentation-profile-img:hover {
	transform: rotateY(360deg);
	transition: 0.8s ease 0s;
} */

/* 
.presentation-text {
	font-size: 12px;
	align-items: center;
	padding: 20px;
}

.presentation-title {
	font-size: 3em;
	font-weight: bold;
	margin: 0;
	color: var(--primary-color);
	margin-bottom: 10px;
}

.presentation-description {
	font-size: 2em;
	font-weight: 500;
	line-height: 1.3;
	max-width: 450px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.presentation-svg {
	width: 50px;
	height: 50px;
	color: #38901f;
}

@keyframes svg-animation{
    
}

@media only screen and (min-width: 520px) {
	.presentation {
		text-align: center;
		display: flex;
		justify-content: center;
	}

	.presentation-text {
		align-items: center;
		padding: 20px;
		font-size: 1em;
	}

	.presentation-title {
		font-size: 3em;
		font-weight: bold;
		margin: 0;
		color: var(--primary-color);
		margin-bottom: 20px;
	}

	.presentation-description {
		font-size: 1.5em;
		font-weight: 500;
		line-height: 1.3;
		max-width: 450px;
		margin: 0 auto;
	}
} */

@media (360px <= width <= 720px) {
	.presentation-section {
		display: flex;
		flex-direction: column;
		background-color: var(--theme-color);
		/* border: 1px solid blue; */
	}

	.presentation-section :nth-child(1) {
		order: 2;
	}
	.presentation-section :nth-child(2) {
		order: 1;
	}

	.presentation-text {
		text-align: center;
	}

	.presentation-title{
		font-size: 3rem;
		font-weight: 400;
		margin: 20px 0;
	}

	.presentation-title span{
		font-weight: 600;
		color: var(--primary-color);
	}

	.presentation-description{
		font-size: 1.2em;
		margin: 8vw;
		color: var(--text-color-darker);
	}


	.presentation-img-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.presentation-img-container {
		margin: 5vw;
		/* border: 1px red solid; */
	}

	.presentation-profile-img {
		width: 45vw;
		border-radius: 50%;
		padding: 5px;
		background-color: var(--theme-color-darker);
		border: 1px solid var(--primary-color);
		/* filter: grayscale(100%); */
	}
}
