@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Source Code Pro', monospace;
}

#root{
	padding: 0;
	max-width: 2160px;
}

:root {
	--theme-color: rgb(45, 46, 50);
	--theme-color-darker: rgb(33, 34, 37);
	--theme-color-inverse: #FDFBF6;
	--theme-color-inverse-darker: #dad9d5;
	--primary-color: rgb(128, 178, 229);
	--secondary-color: #ffffff;
	--titles-color: var(--primary-color);
	--text-color: #fafafa;
	--text-color-darker: #b0b0b0;
	padding: 0;
}

body{
	background-color: var(--theme-color-darker);
	color: var(--text-color);
	font-size: 17px;
}

@media (width >= 720px) {
	
	body{
		padding: 50px;
	}

}