.skills-section{
    /* border: solid red 1px; */
    margin-top: 20px;

}

.skills-title{
    font-size: 5em;
    color: var(--titles-color);
    background-color: var(--primary-color);
    margin: 0;
}

.skills-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    margin-top: 1.5em;
    padding: 0;

}

.skill-item{
    display: flex;
    min-width: 80px;
    font-size: 1.5em;
    background-color: var(--secondary-color);
    border: 0.5px;
    border-radius: 10%;
    padding: 5px 10px;
    justify-content: center;
    margin: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.537);
}